<%- include("header") -%>

<h2> To Do List About Page </h2>

<p> Our To Do List Is Made So You Can Be More Organised, You Can Add And Check Off Items, And We Have 3 Types Of Lists: Work List, Shopping List, To Do List. </p>

<%- include("footer") -%>